
h1{
    color:white; /*muda a cor do texto*/
    background-color: black; /*Muda a cor do fundo*/
    font-size: 48px; /*Muda o tamanho da fonte*/
}

img{
    width: 300px;
}

button{
    background-color: darkred;
    border: none; /*muda a borda*/
    border-radius: 15px; /*Arredonda as bordas*/
    color: white;
    padding: 5px 15px; /*muda o espaçamento dentro do elemento*/
    cursor: pointer; /*Para deixar o mouse em formato de mão*/
}

button:hover{
    background-color: rgb(112, 47, 47); /*Muda a cor do botão com o mouse em cima*/
}

